@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-lg;
    @apply font-semibold;
  }
  h4 {
    @apply text-base;
    @apply font-semibold;
  }
  h5 {
    @apply text-sm;
    @apply font-semibold;
  }
  h6 {
    @apply text-xs;
    @apply font-semibold;
  }

  p,
  span,
  li,
  div {
    @apply text-base;
    @apply font-normal;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  font-family: 'GT Eesti, sans-serif';
}

:root,
:root[data-theme='light'] {
  --border-primary: #dcdfe4;
  --decorative-midnight-blue: #1a2b49;
  --decorative-orange: #ff532c;
  --label-primary: #1a2b49;
  --label-secondary: #63687a;
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  line-height: 1;
}

.container {
  display: block;
  min-width: 320px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1400px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.collection-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 56px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-slide div {
  margin: 0 2px;
}
